<h2>Registro</h2>
<form method="POST" action="/registro" enctype="multipart/form-data">
  <input type="email" name="email" placeholder="Email" required /><br>
  <input type="tel" name="celular" placeholder="Celular" required /><br>
  <input type="text" name="nombre" placeholder="Nombre" required /><br>
  <input type="text" name="apellido" placeholder="Apellido" required /><br>
  <input type="text" name="dni" placeholder="DNI" required /><br>
  <input type="text" name="negocioNombre" placeholder="Nombre del negocio" required /><br>
  <input type="file" name="negocioLogo" accept="image/*" /><br>
  <input type="text" name="negocioDireccion" placeholder="Dirección del negocio" required /><br>
  <input type="text" name="negocioRubro" placeholder="Rubro del negocio" required /><br>
  <input type="password" name="password" placeholder="Contraseña" required /><br>
  <button type="submit">Registrar</button>
</form>